process {

    withName:TRIM_ALL_READS {
        container = 'vmichelet/trim_cut_recent'
    }
    withName:DOWNLOAD_SRA {
        container = 'pierrejeangouze/sra_toolkit'
    }

    withName: INDEX_CREATION {
        container = 'vmichelet/bowtie_recent'
    }

    withName: FEATURECOUNTS {
        container = 'vmichelet/featurecounts_recent'
    }

    withName: deseq2 {
        container = 'vmichelet/rdeseq2_recent'
    }
    withName: pca {
        container = 'vmichelet/rdesq2_pca_recent'
    }

}


docker {
    enabled = true
    runOptions="--entrypoint ''"
}
